.carousel img {
    object-fit: cover;
    width: 100%;
    height: 400px;
  }
  .go-back-btn {
    border: none;
    background: none;
    font-size: 1.25rem;

    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }
  .go-back-btn:hover {
    text-decoration: underline;
  }